{% load static %}

<!DOCTYPE html>
<html>
  <head>
       <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'assets/css/argon-dashboard.min.css' %}" rel="stylesheet" />

    <title>Thank You!</title>
    </head>
    <body>
      <img src="{% static 'assets/img/pooh_piglet_thankyou.gif' %}" width='500'>
      <div class="position-absolute start-10">
        <div class="col-md-13">
          Please visit the results page <a href="{% url 'results-view' %}">here</a>!
        </div>
      </div>

    </body>
</html>